<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Enter a Tweet</title>
  </head>
  <body>
    <div class="col-sm">
      <h1>
        <span class="badge badge-danger" align="middle"
          >Is the input text a disaster tweet?</span
        >
      </h1>
    </div>

    <img src="{{img_path}}" alt="User Image" width="500px" align="middle" />

    <div class="col-sm">
      <form action="/predict" method="post" enctype="multipart/form-data">
        <label for="tweet">Enter a tweet:</label>
        <input type="text" id="tweet" name="tweet" /><br /><br />
        <input type="submit" value="Predict" />
      </form>
    </div>
  </body>
</html>
