<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>predict</title>
</head>
<body>
  <h1><span class="badge badge-danger">Prediction Result</span></h1>
</body>
<div class="col-sm">
  <div class="col-sm">
    <h3>Total sequences: <span class="badge badge-secondary">{{total}}</span></h3>
    <h3>standard sequences: <span class="badge badge-secondary">{{standard}}</span></h3>
    <h3>long sequences: <span class="badge badge-secondary">{{subseq}}</span></h3>
</div>
<p>
  <label for="from">RESULTS:</label>
<br />
  <textarea name="message" id="message" style="height: 200px; width: 1100px;">{{result}}</textarea>
</p>  
</html>

